#bdy {
  display: block;
  background-image: url('ecole.jpg');
  background-repeat: no-repeat;
  margin: 0px;
}
#fld {
 margin-top: 5%;
}
.gg {
  font-size: 40px;
  color: red; border: solid 1px;
  border-radius: 18%;
}
#tbl {
  margin-top: 10%;
}
#van {
  float: right; margin-top: -40%;
  margin-right: 5%;
  margin-bottom: 10%;
}
#van li {
  overflow: hidden;
  border: solid 2px;
  background-color: yellow;
}
#van a {
  text-decoration: none;
  color: red; padding-left: 4%; 
  padding-right: 4%;
}
#mForm {
  background-color: red;
  margin-top: 42%;
  margin-bottom: 1%;
}
#mForm .bnm {
  float: left;
}
#mForm .binp {
  float: right;
}
#btn0 {
  height: "15px";
}

