@media only screen and (orientation: portrait) 
    and (max-width: 600px)
{
    background-color: cyan;
}

/*  *************************************************************************************************   */

/* partie de modification en version PHONE */
#bdy {
	display: block;
	padding-top     :  0px;
	margin-left     :  6%;
	margin-right    :  6%;
	background-color: black;
}

.nnm {
	color: blue;
}
#fset {
	background-image: url("regard.jpg");
	background-position: top;
	background-repeat: no-repeat; 
}
#all {
	padding-left: 4%; padding-right: 4%;
}
#nav {
	text-align: center; margin-top: 0px;
}
#nav ul {
	margin-right: 17.5%;
}
#nav li{
	float           : right;
	overflow        : hidden;
	border          : solid 2px;
	border-radius   : 5px;
	border-color    : red; 
	padding         : 1%;
	padding-left    : 1%;
	padding-right   : 1%;
	background-color: white;
}
#nav ul li a {
	color: red; text-decoration: none;
}
#nav ul li:hover {
	border          : solid 2px;
	border-radius   : 5px;
	border-color    : red;
	background-color: black;
	color           : white;
}
#nav ul li a:hover {
	color: white; text-decoration: none; 
}
#container {
	border          :  solid 2px;
	border-color    :  red;
	margin-top     :  2.8%;
    margin-left     :  5%;
    margin-right    :  5%;
	padding-bottom  : 1%;
	background-position: top;
}
.h1 {
	color             :         red;
	border            :         solid 2px;
	text-align        :         center;
	margin-left       :         0px;
	margin-right      :         0px;
	margin-top        :         1%; 
	margin-bottom     :         0%; 
	background-color  :         none;
	font-size         :         30px; 
	min-height        :         60%;
	min-width         :         40%;  
}
.ggskA {
	font-size: 150%; color: green; margin-left: 15%; margin-top: 1%;
}
.indent {
	float: right; margin-right: 2.5%; color: white; margin-top: 4.5%;
}
.newCmt button {
	background-color: lightblue; margin-top: 2%; margin-bottom: -2.5%;
}
#cont2 {
	margin-bottom: 1%;
}
#cont2 p { 
    float: right; 
	margin-top: 1%;
}
#myForm {
	margin-top: 4%;
}
#myForm b {
	float: right;
	border: solid 1px; margin-bottom: 1%;
}
#test {
	margin-top: 1%; padding-right: 25%;
}
#test p {
	margin-right: -30%;
}
#test b {
	color: red; text-align: center; background-color: none;
}
#cont2 .bN {
	background-color: none;
	color: white;
}
